/******************************************************************************************************/
/* This code sets default style and is common to several pages                                        */
/*                                                                                                    */

*
{   box-sizing: border-box;
}

:root
{
    --background-color: black;
    --color: black;
    --light-gray: rgb(196, 196, 196);

    --div-border: 1px solid grey;
    --div-border-radius: 3px;
    --div-margin: 10px;
    --div-padding: 2px;

    --footer-background: grey;
    --footer-color: white;

    --page-width: 95%;

    --section-border: 2px solid grey;
    --section-border-radius: 5px;
    --section-margin: 15px;
    --section-padding: 5px;
}

body
{   color: var(--color);
    font-family: sans-serif;
    font-size: 14px;
}

button
{   background: none;
    border: none;
    color: var(--color);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

button:hover
{   color: red;
}

header
{   margin: 0px;
    width: 100%;
}

input
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

/******************************************************************************************************/
/* settings for the menu                                                                              */
/*                                                                                                    */

.menu-icon
{   background: var(--light-gray);
    border: 3px solid grey;
    /* border-radius: 5px; */
    /* border: var(--section-border); */
    /* border-radius: var(--section-border-radius); */
    border-radius: 10px;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    height: 35px;
    position: absolute;
    left: 3px;
    top: 3px;
    text-align: center;
    width: 35px;
    z-index: 100;
}

.menu
{   background: var(--light-gray);
    border-right: 3px solid grey;
    height: 100%;
    min-height: 100%;
    padding: 5px;
    padding-top: 50px;
    position: fixed;
    left: -200px;
    top: -14px;
    width: 200px;
    z-index: 50;
}

@keyframes hidemenu
{   from
    {   left: 0px;
    }
    to
    {   left: -200px;
    }
}

.menu-hide
{   animation-name: hidemenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes showmenu
{   from
    {   left: -200px;
        background: grey;
    }
    to
    {   left: 0px;
        background: lightgrey;
    }
}

.menu-show
{   animation-name: showmenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.menu-option
{   color: grey;
    display: inline-block;
    height: auto;
    width: 100%;
    text-decoration: none;
}

.menu-option:visited
{   color: grey;
    text-decoration: none;
}

.menu-option:hover
{   color: red;
    text-decoration: none;
}

.menu-option:active
{   color: white;
    text-decoration: none;
}

#menu-logout,
#menu-profile,
#menu-admin
{   display: none;
}

#suggest-a-name
{   margin-top: 20px;
}

/******************************************************************************************************/
/* settings for the modal message                                                                     */
/*                                                                                                    */

.modal
{   
    display: flex;
        flex-direction: column;
        justify-content: center;
    height: 80vh;
        min-height: 80vh;
    position: fixed;
        left: 0px;
        top: 0px;
    width: 100%;
    z-index: 100;
}

.modal-message
{   
    background: var(--light-gray);
    border: var(--section-border);
    border-radius: var(--section-border-radius);
    display: flex;
        flex-direction: column;
    max-height: 50vh;
        overflow: auto;
    margin: 0px auto;
    width: 90%;
        max-width: 500px;
}

.modal-message h1
{   margin: 0px;
    text-align: center;
}

.modal-message h2
{   margin: 0px;
        margin-bottom: 20px;
    text-align: center;
}

.modal-text
{   display: block;
        flex-grow: 1;
        flex-shrink: 1;
    padding: 15px;
}

.modal-options
{   display: block;
        flex-grow: 0;
        flex-shrink: 0;
    height: 20px;
    padding-left: 15px;
}

.modal-option
{   color: grey;
    height: 20px;
    text-decoration: none;
}

.modal-option:visited
{   color: grey;
    text-decoration: none;
}

.modal-option:hover
{   color: red;
    text-decoration: none;
}

.modal-option:active
{   color: white;
    text-decoration: none;
}

/******************************************************************************************************/
/* settings for sticky footer                                                                         */
/*                                                                                                    */

body,
html
{   height: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

.wrapper
{   height: auto;
    min-height: 100%;
    margin: 0px auto;
    margin-bottom: -25px;
    /* width: var(--width); */
    width: var(--page-width);
}

.push
{   height: 40px;
}

footer
{   background: var(--footer-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25px;
    margin: 0px;
    width: 100%;
}

.inner-footer
{   color: var(--footer-color);
    display: flex;
    flex-direction: row;
    font-family: inherit;
    font-size: 10px;
    font-weight: inherit;
    margin: 0px auto;
    width: var(--page-width);
}

.inner-footer .left
{   flex-grow: 1;
    text-align: left;
    width: 30%;
}

.inner-footer .right
{   flex-grow: 1;
    text-align: right;
    width: 30%;
}
