/********************************************************************/
/* This code sets style specific to the Interaction Log             */
/*                                                                  */

.sort-bar
{   display: flex;
    flex-direction: row;
    margin: 0px auto;
    width: 100%;
    max-width: 950px;
}

.sort-icon-outer
{   display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 125px;
    /* max-width: 125px; */
    min-width: 40px;
}

.cat-box
{   width: 250px;
    /* max-width: 5000px; */
    min-width: 85px;
}

.sort-icon-inner
{   margin: 5%;
}

.sort-icon-inner:hover
{   margin: 0px;
}

.sort-icon-inner img
{   width: 100%;
}

/* page specific style setting for the sidebar options              */

#cat-option
{   display: inline-block;
}

#dog-option
{   display: none;
}

/********************************************************************/
/* The style settings for the <div> element representing individual */
/* animals.                                                         */
/*                                                                  */

.animal
{   background: purple;
    /* border: 2px solid black; */
    border: var(--div-border);
    border-radius: 2px;
    /* color: white; */
    /* color: var(--light-gray); */
    color: lightgrey;
    display: flex;
    flex-direction: row;
    height: 24px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding-left: 5px;
    width: 100%;
}

.animal.available
{
    animation-name: available;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes available
{   from
    {   opacity: 0.5;
    }
    to
    {   opacity: 1;
    }
}

.animal.unavailable
{
    animation-name: unavailable;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes unavailable
{   from
    {   opacity: 1;
    }
    to
    {   opacity: 0.5;
    }
}

.animal.black
{   background: black;
    border-color: black;
}

.animal.blue
{   background: blue;
    border-color: blue;
}

.animal.green
{   background: green;
    border-color: green;
}

.animal.orange
{   background: orange;
    border-color: orange;
}

.animal.purple
{   background: purple;
    border-color: purplee;
}

.animal.red
{   background: red;
    border-color: red;
}

.animal-name
{   
    /* color: white; */
    color: var(--light-gray);
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    padding: 2px;
    text-decoration: none;
    width: 50%;
    min-width: 150px;
}

.animal-name:visited
{
    /* color: white; */
    color: var(--light-gray);
    /* color: lightgrey; */
}

.animal-name:hover
{
    /* color: red; */
    color: white;
}

.animal-color
{   display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 2px;
    padding-left: 5px;
    /* text-align: left; */
    text-align: center;
    width: 75px;
}

.animal-cage
{   display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 2px;
    padding-right: 5px;
    /* text-align: right; */
    text-align: center;
    width: 40px;
}

.interaction-day
{   
    border: 1px solid black;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 1px;
    margin-right: 1px;
    padding: 2px;
    text-align: center;
    width: 18px;
}

.interaction-mark
{   
    background: lightgrey;
    border: 1px solid grey;
    border-radius: 50%;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    height: 12px;
    width: 12px;
}

.interaction-mark:hover
{   
    background: white;
    border-color: white;
}

/********************************************************************/
/* @media queries for various display sizes (primarilly intended    */
/* to support full size computer screens and mobile phones          */
/*                                                                  */

@media screen and (max-width: 890px)
{
    .interaction-day.week3
    {
        display: none;
    }
}

@media screen and (max-width: 725px)
{
    .interaction-day.week2
    {
        display: none;
    }
}

@media screen and (max-width: 575px)
{
    .animal-color,
    .animal-cage
    {
        display: none;
    }
}

@media screen and (max-width: 475px)
{
    .wrapper
    {   width: 100%;
    }
}

@media screen and (max-width: 400px)
{
    .interaction-day.week1
    {
        display: none;
    }
}

@media screen and (max-width: 425px)
{
    .animal-name
    {   min-width: 50px;
    }

    .animal-color, .animal-cage
    {
        display: none;
    }
}
