#button-bar
{   display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 20px;
    width: 98vw;
    margin: 0px auto;
}

#button-bar button
{   border: 1 solid var(--color);
    border-radius: 3px;
    flex-grow: 0;
    margin-left: 5px;
    text-align: center;
    width: 50px;
}

#button-bar button:hover
{   background: white;
}

#sort-bar
{   display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    max-width: 1200px;
    margin: 0px auto;
}

.sort-icon
{   height: auto;
    width: auto;
}
