/*	This module collects the CSS rules that apply throughout the site.  It's general purpose is to enforce a		*/
/*	consistant look and feel to the application.  You'll find CSS rules that set values for variables and for the	*/
/*	sticky footer.																									*/

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

*
{
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	margin: 0px;
	padding: 0px;
}

:root
{   --color: white;
}

body
{
	font-family: "Fredoka One", sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

body, html
{   height: 100%;
		min-height: 100%;
}

header
{
	font-size: 36px;
	margin: 0px;
	padding: 25px;
	text-align: center;
}

.hidden
{	/*	This class is used with classList to hide elements in the DOM.  There is a problem with CSS precedence,		*/
	/*	though.  This class will not override the display property of elements if display is explicitly set in		*/
	/*	in another rule (selectors that more specifically reference an element take precedence, and you can't get	*/
	/*	much more generic than this.																				*/ 

	display: none;
}

/*																													*/
/* style specific to sticky footer																					*/
/*																													*/

#sticky-wrapper
{   
	height: 100;
		min-height: 100%;
	margin-bottom: -30px;
	min-height: 100%;
}

.sticky-pusher
{   background: yellow;
	height: 30px;
}

footer
{   
	background-color: black;
	color: white;
	display: flex;
		flex-direction: row;
		justify-content: space-between;
	font-size: 10px;
	height: 30px;
	padding: 10px;
	width: 100%;
}

footer div
{
	flex-grow: 1;
	flex-shrink: 1;
	text-align: right;
	width: 45%;
}

footer div:first-of-type
{
	text-align: left;
}
