@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

*
{
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	margin: 0px;
	padding: 0px;
}

:root
{   --color: white;
}

body
{
	font-family: "Fredoka One", sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

body, html
{   height: 100%;
		min-height: 100%;
}

header
{
	/* background: rgba(255, 0, 0, 0.5); */
	/* font-family: "Fredoka One", sans-serif; */
	font-size: 36px;
	margin: 0px;
	padding: 25px;
	text-align: center;
}

m-a-i-n
{   background: rgba(0, 255, 0, 0.5);
}

.hidden
{
	display: none;
}

/*                                         */
/* style specific to sticky footer         */
/*                                         */

#sticky-wrapper
{   
	/* background: rgba(0, 255, 255, 0.5); */
	height: 100;
		min-height: 100%;
	margin-bottom: -30px;
	min-height: 100%;
}

.sticky-pusher
{   background: yellow;
	height: 30px;
}

footer
{   
	background-color: black;
	color: white;
	display: flex;
		flex-direction: row;
		justify-content: space-between;
	font-size: 10px;
	height: 30px;
	padding: 10px;
	width: 100%;
}

footer div
{
	flex-grow: 1;
	flex-shrink: 1;
	text-align: right;
	width: 45%;
}

footer div:first-child
{
	text-align: left;
}
