/*	This modules contains the CSS rules for the <nav> elements.														*/
/*																													*/
/*	Rules fall into three categories:																				*/
/*		quick links that are always visible on the screen															*/
/*		a context sensitive menu that is hidden (positioned off the screen)											*/
/*		several buttons																								*/

/*	Let's get started with the buttons...																			*/

button
{	/*	The default style for <buttons>																				*/

	background-color: white;
	border: 1px solid black;
	border-radius: 2px;
	font-family: monospace;
	font-size: 14px;
	height: 22px;
	line-height: 0;
	margin: 0px;
		margin-top: 5px;
	padding: 4px;
	text-align: center;
	/* width: 22px; */
}

button.close
{
	border: none;
}

button.short
{
	width: 22px;
}

button.medium
{
	width: auto;
}

button.long
{
	width: 100%;
}

button:hover
{
	background-color: black;
	color: white;
}

button.red
{
	color: red;
}

button.red:hover
{
	background-color: red;
	color: white;
}

/*	Configure the <nav> elements.																					*/

nav *.first-child
{
	margin-top: 0px;
}

nav.quick-links
{
	position: fixed;
		left: 10px;
		top: 10px;
	width: 22px;
}

button.profile-button
{
	border-radius: 50%;
}

/*	The <nav> that contains most of the links and buttons is the most complicated.  It has a few constituents each	*/
/*	with it's own unique requiremnts.  And it uses several flex-boxes to position elements dynamically.				*/

nav.menu
{
	background-color: rgba(255, 255, 255, 0.75);
	border: 2px solid black;
	border-radius: 4px;
	display: flex;
		flex-direction: column;
		justify-content: space-between;
	height: 90%;
	position: fixed;
		left: -250px;
		top: 10px;
	width: 75%;
		max-width: 250px;
}

.nav-fade-in
{
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-name: nav-fade-in;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes nav-fade-in
{
	from { left: -250px; }
	to { left: 10px; }
}

.nav-fade-out
{
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-name: nav-fade-out;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes nav-fade-out
{
	from { left: 10px; }
	to { left: -250px; }
}

header.menu
{
	background: white;
	display: flex;
		flex-direction: row;
		justify-content: space-between;
	flex-grow: 0;
	flex-shrink: 0;
	font-size: inherit;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

header.menu div:first-child
{
	flex-grow: 1;
	flex-shrink: 1;
	padding: 3px;
}

header.menu button
{
	flex-grow: 0;
	flex-shrink: 0;
	margin-top: 0px;
}

section.menu
{
	display: flex;
		flex-direction: column;
		justify-content: space-between;
	flex-grow: 1;
	height: 50%;
	padding: 3px;
}

section.menu hr
{
	background-color: none;
	border: none;
	height: 20px;
	width: 100%;
}

section.menu *
{
	flex-grow: 0;
	flex-shrink: 0;
}

section.menu div.flex-grow
{
	flex-grow: 1;
	flex-shrink: 0;
}

#nav-menu section button:first-child
{
	margin-top: 0px;
}
